@page
@model Proyecto.App.SitioWeb.Pages.Fas.ListModel
@{
}
<h1>Listado de Fases</h1>
<table class="table">
    <thead>
        <tr>
    
            <th>nombreFase</th>
            <th>descripcion</th>
            <th>estado</th>

            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>

    <body>
        @foreach (var fase in Model.fases)
        {
            <tr>
                <td>@fase.nombreFase</td>
                <td>@fase.descripcion</td>
                <td>@fase.estado</td>

                <td>
                    <a class="btn btn-success" asp-page="./Update" asp-route-id="@fase.faseId">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@fase.faseId">Eliminar</a>
                </td>
            </tr>
        }
    </body>
</table>
<td>
    <a class="btn btn-primary" asp-page="./Create">Crear Cliente</a>
</td>